<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Painel de Dados - {% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>

<nav>
  <input id="nav-toggle" type="checkbox">
  <div class="logo">Painel de Dados Municipais</div>
  <ul class="links">
    <li>  <a href='/'><i class="fa fa-home"> </i> xx</a> </li>
  </ul>
  <label for="nav-toggle" class="icon-burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
  </label>
</nav>


    <p>
    <div id="content">
        {% block content %}
        Bem vindo!
        {% endblock %}
    </div>

 
  </body>
</html>