{% extends "base.html" %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}


<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart','bar','line','scatter','controls']});
      google.charts.setOnLoadCallback(drawChart);



      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            [	'Municipio'	,	'2017'	,	'2018'	,	'2019'	,	'2020'	],
            [	'Areal'	,	4783158080	,	5195713667	,	4765322626	,	0	],
            [	'Armação dos Búzios'	,	16443153163	,	21239636499	,	23683538339	,	29162311709	],
            [	'Miguel Pereira'	,	6260717302	,	7263077021	,	13058516709	,	13764444036	],
            [	'Paraíba do Sul'	,	10483532384	,	9375212386	,	12177729071	,	17000372386	],
            [	'Paty do Alferes'	,	7145100635	,	6995097684	,	11443587130	,	12324339920	],
            [	'Quissamã'	,	16706730969	,	22253539704	,	17200665868	,	0	],
            [	'Rio das Flores'	,	4047960393	,	6736979217	,	6466816795	,	0	],
            [	'Sapucaia'	,	6865522479	,	8098956657	,	7606148319	,	7339521065	],
            [	'Saquarema'	,	21863481623	,	27040879486	,	27214627341	,	0	],
            [	'Três Rios'	,	23313950655	,	27515469500	,	28035577153	,	0	],
            [	'Vassouras'	,	11127168083	,	10583826986	,	16639156133	,	19821799712	]
  
        ]);


        var data1b = google.visualization.arrayToDataTable([
        [	'ano'	,	 'Areal' 	,	 'Armação dos Búzios'  	,	 'Miguel Pereira'  	,	 'Paraíba do Sul'  	,	'Paty do Alferes' 	,	 'Quissamã'  	,	 'Rio das Flores'  	,	 'Sapucaia'  	,	'Saquarema' 	,	'Três Rios' 	,	 'Vassouras' 	],
        [	 '2017'  	,	 4783158080  	,	 16443153163 	,	 6260717302  	,	 10483532384 	,	 7145100635  	,	 16706730969 	,	 4047960393  	,	 6865522479  	,	 21863481623 	,	 23313950655 	,	 11127168083 	],
        [	 '2018'  	,	 5195713667  	,	 21239636499 	,	 7263077021  	,	 9375212386  	,	 6995097684  	,	 22253539704 	,	 6736979217  	,	 8098956657  	,	 27040879486 	,	 27515469500 	,	 10583826986 	],
        [	 '2019'  	,	 4765322626  	,	 23683538339 	,	 13058516709 	,	 12177729071 	,	 11443587130 	,	 17200665868 	,	 6466816795  	,	 7606148319  	,	 27214627341 	,	 28035577153 	,	 16639156133 	],
        [	 '2020' 	,	 null	,	 29162311709 	,	 13764444036 	,	 17000372386	,	 12324339920	,	 null 	,	 null 	,	 7339521065 	,	 null 	,	 null	,	 19821799712 	]
        

    ]);


        var data2 = google.visualization.arrayToDataTable([
            ['Municipio', '2017','2018','2019','2020'],
            ['Areal',	5298975649	,	7977449675	,	8936925246	,	0],
            ['Armação dos Búzios',	23122292331	,	29545243025	,	36728199455	,	34523797599],
            ['Miguel Pereira',	10990574391	,	3451817810	,	3810571591	,	18772749708],
            ['Paraíba do Sul',	12023162501	,	4010196373	,	17068390893	,	18823662500],
            ['Paty do Alferes',	10305316743	,	13660556461	,	15755312436	,	15044695606],
            ['Quissamã',	22308342953	,	29358841524	,	29983661616	,	0],
            ['Rio das Flores',	5255693717	,	7882823486	,	1538018137	,	0],
            ['Sapucaia',	8891339623	,	11579149169	,	10592394584	,	2026482112],
            ['Saquarema',	31092125371	,	42809835151	,	13817718579	,	0],
            ['Três Rios',	27966501087	,	35280572778	,	37874140041	,	0],
            ['Vassouras',	14333236290	,	4447216514	,	22548565747	,	27047125355],

        ]);

        
        var data3 = new google.visualization.DataTable();
        data3.addColumn('number', 'municipio');
        data3.addColumn('number', '2019');
        data3.addColumn('number', '2020');
        data3.addColumn({type: 'string', role: 'tooltip'});
        data3.addRows([
          [0, 67, 63,'q'], [1, 88, 77,'w'], [2, 77, 76,'e'],
          [3, 93, 85,'q'], [4, 85, 99,'w'], [5, 91, 74,'e'],
          [6, 71, 85,'q'], [7, 78, 56,'w'], [8, 93, 87,'e'],
          [9, 80, 93,'q'], [9, 82, 85,'w'], [0, 75, 67,'e'],
          [5, 80, 83,'q'], [3, 90, 75,'w'], [1, 72, 86,'e'],
          [5, 75, 67,'q'], [6, 68, 66,'w'], [7, 98, 97,'e'],
          [3, 82, 86,'q'], [9, 94, 57,'w'], [2, 79, 56,'e'],
          [2, 95, 93,'q'], [2, 86, 74,'w'], [3, 67, 87,'e'],
          [4, 60, 67,'q'], [2, 80, 89,'w'], [6, 92, 88,'e'],
          [2, 81, 84,'q'], [8, 79, 86,'w'], [9, 83, 77,'e'],
          [3, 75, 84,'q'], [1, 80, 78,'w'], [3, 71, 66,'e'],
          [3, 89, 73,'q'], [4, 92, 75,'w'], [5, 85, 78,'e'],
          [6, 92, 53,'q'], [7, 78, 74,'w'], [6, 95, 97,'e'],
          [3, 81, 83,'q'], [0, 64, 78,'w'], [4, 85, 87,'e'],
          [2, 83, 68,'q'], [3, 96, 67,'w'], [4, 77, 69,'e'],
          [5, 89, 96,'q'], [4, 89, 86,'w'], [7, 84, 79,'e'],
          [4, 92, 99,'q'], [9, 98, 89,'w']
        ]);



        var options = {
          chart: {
            title: 'Despesas Municipais',
            subtitle: 'Fonte: Secretaria do Tesouro (STN)',
          }
        };


        var options2 = {
          chart: {
            title: 'Receitas Municipais',
            subtitle: 'Fonte: Secretaria do Tesouro (STN)',
          }
        };


        var chart1 = new google.charts.Bar(document.getElementById('graph1'));
        chart1.draw(data, google.charts.Bar.convertOptions(options));
        
        var chart2 = new google.charts.Bar(document.getElementById('graph2'));
        chart2.draw(data2, google.charts.Bar.convertOptions(options2));

        var datax = google.visualization.arrayToDataTable([
        ['Ano',   'Receita',  'Despesa'  ,   'Municipio'],
        ['2010',   94100,  91528     , 'Areal'],
        ['2011',   84122,  81528     , 'Areal'],
        ['2012',   83274,  71528     , 'Areal'],
        ['2013',   91528,  61528     , 'Areal'],
        ['2014',   80807,  51528     , 'Areal'],
        ['2010',   83431,  81528     , 'Araruama'],
        ['2011',   81928,  71528     , 'Araruama'],
        ['2012',   80051,  91528     , 'Araruama'],
        ['2013',   89957,  51528     , 'Araruama'],
        ['2014',   85645,  71528     , 'Araruama'],
   ]); 
 
 // Define a slider control for the 'Male Population' column
 slider = new google.visualization.ControlWrapper({
   'controlType': 'CategoryFilter',
   'containerId': 'control1',
   'options': {
   'filterColumnLabel': 'Municipio',
   'ui': {'allowMultiple': false}
   }
 });       
   
 // Define a pie chart
 piechart = new google.visualization.ChartWrapper({
   'chartType': 'LineChart',
   'containerId': 'chart1',
   'view': {'columns': [0, 1, 2]},
  

 });
 
// Create the dashboard
var dashboard = new google.visualization.Dashboard(document.getElementById('dashboard'));
dashboard.bind(slider, piechart).draw(datax);

      }
    </script>
  </head>
  <body>
    <h2>Paindel de Dados</h2>
    <h3>Despesas Municipais</h3>
    <br>
    <p>Falta fazer um texto explicativo.</p>    
    <br>
    <div id="graph1" style="width: 80%; height: 500px;"></div>


    <h3>Receitas Municipais</h3>
    <br>
    <p>Outro texto explciativo.</p> 
    <br>  
    <div id="graph2" style="width: 80%; height: 500px;"></div>


    <h3>Receitas e Despesas Municipais</h3>
    <br>
    <p>Outro texto explciativo.</p> 
    <br> 
    <div id="dashboard">
      <div id="control1"></div>                       
      <div style="width: 80%; height: 500px;" id="chart1"></div>
    </div>


   
  </body>
</html>

{% endblock %}