{% extends "base.html" %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}


<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Ano', 'Areal', 'Armação de Búzios', 'Miguel Pereira'],
          ['2018', 1000, 400, 200],
          ['2019', 1170, 460, 250],
          ['2020', 660, 1120, 300],
          ['2021', 1030, 540, 350]
        ]);

        var options = {
          chart: {
            title: 'Receitas Municipais',
            subtitle: 'Fonte: Dados inventados',
          }
        };

        var chart1 = new google.charts.Bar(document.getElementById('graph1'));
        chart1.draw(data, google.charts.Bar.convertOptions(options));

        
        var chart2 = new google.charts.Bar(document.getElementById('graph2'));
        chart2.draw(data, google.charts.Bar.convertOptions(options));

                
        var chart3 = new google.charts.Bar(document.getElementById('graph3'));
        chart3.draw(data, google.charts.Bar.convertOptions(options));

                
        var chart4 = new google.charts.Bar(document.getElementById('graph4'));
        chart4.draw(data, google.charts.Bar.convertOptions(options));

        
      }
    </script>
  </head>
  <body>
    <h2>Paindel de Dados</h2>
    <div id="graph1" style="width: 700px; height: 500px;"></div>
    <div id="graph2" style="width: 700px; height: 500px;"></div>
    <div id="graph3" style="width: 700px; height: 500px;"></div>
    <div id="graph4" style="width: 700px; height: 500px;"></div>
  </body>
</html>

{% endblock %}